body {
    font-family: "Poppins", sans-serif;
    margin: 0;
    padding: 0;
    min-width: 320px;
}

header {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #efefef;
    padding-top: 10px;
    padding-bottom: 10px;
    width: 100%;
}

.logo {
    height: 100px;
}

nav {
    padding-left: 20px;
    padding-right: 20px;
}

ul {
    display: flex;
    list-style-type: none;
    font-size: 0.9em;
    padding: 0;
    gap: 20px;
}

a {
    text-decoration: none;
    color: black;
}

a:hover {
    font-weight: bold;
}

section {
    padding-left: 20px;
    padding-right: 20px;
}

.slider {
    position: relative;
    overflow: hidden;
    width: 100%;
    padding: 0;
}

.slider-inner {
    position: relative;
    width: 100%;
    height: 0;
    padding-top: calc(100% / 2);
}

.slider img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    opacity: 0;
    transition: opacity 0.5s ease;
}

.slider img.active {
    opacity: 1;
}

.slider img.first {
    transition: none;
}

footer {
    background-color: #efefef;
    padding-top: 50px;
    padding-bottom: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
    line-height: 10px;
}

footer p {
    font-weight: 500;
    font-size: 0.9em;
}


/* Media Queries */

@media screen and (min-width:480px) {

    .logo {
        height: 110px;
    }

    ul {
        gap: 50px;
        font-size: 1em;
    }

    footer {
        flex-direction: row;
        justify-content: center;
        gap: 10px;
    }

    footer p {
        font-size: 1em;
    }

}

@media screen and (min-width:768px) {

    .logo {
        height: 135px;
    }

    ul {
        font-size: 1.10em;
        gap: 75px;
    }

    footer p {
        font-size: 1.10em;
    }
}


@media screen and (min-width:1020px) {

    header {
        flex-direction: row;
        justify-content: space-between;
    }

    .logo {
        padding-left: 20px;
    }

    ul {
        gap: 50px;
    }

}

@media screen and (min-width:1200px) {

    .logo {
        padding-left: 50px;
    }

    nav {
        padding-left: 50px;
        padding-right: 50px;
    }
}