body {
    font-family: "Merriweather", serif;
    margin: 0;
    padding: 0;
    min-width: 320px;
}

header {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #efefef;
    padding-top: 10px;
    padding-bottom: 10px;
    width: 100%;
}

.logo {
    height: 75px;
}

nav {
    padding-left: 20px;
    padding-right: 20px;
}

ul {
    display: flex;
    list-style-type: none;
    font-size: 0.9em;
    padding: 0;
    gap: 20px;
}

a {
    text-decoration: none;
    color: black;
}

a:hover {
    font-weight: bold;
}

section {
    padding-left: 20px;
    padding-right: 20px;
}

.slider {
    position: relative;
    overflow: hidden;
    width: 100%;
    padding: 0;
}

.slider-inner {
    position: relative;
    width: 100%;
    height: 0;
    padding-top: calc(100% / 1.2);
}

.slider img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    opacity: 0;
    transition: opacity 0.5s ease;
}

.slider img.active {
    opacity: 1;
}

.slider img.first {
    transition: none;
}

#àpropos {
    background-color: #cdcdcd;
    padding-top: 20px;
    padding-bottom: 40px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

h1 {
    font-size: 1.2em;
    font-weight: 700;
    font-style: italic;
    width: 85%;
    text-align: center;
}

.about-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

#àpropos img {
    object-fit: cover;
    width: 150px;
    height: 150px;
    border-radius: 50%;
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.2);
    margin-bottom: 15px;
}

.about-text {
    display: flex;
    flex-direction: column;
    width: 90%;
}

.about-text p {
    font-size: 0.9em;
    text-align: justify;
    margin: 10px;
}

footer {
    background-color: #efefef;
    padding-top: 50px;
    padding-bottom: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
    line-height: 10px;
}

footer p {
    font-weight: 500;
    font-size: 0.9em;
}


/* Media Queries */

@media screen and (min-width:420px) {

    .logo {
        height: 110px;
    }

    ul {
        gap: 50px;
        font-size: 1em;
    }

    .slider-inner {
        padding-top: calc(100% / 1.7);
    }

    #àpropos img {
        height: 175px;
        width: 175px;
    }

    footer {
        flex-direction: row;
        justify-content: center;
        gap: 10px;
    }

    footer p {
        font-size: 1em;
    }

}

@media screen and (min-width:550px) {

    #àpropos img {
        height: 220px;
        width: 220px;
    }
}

@media screen and (min-width:768px) {

    .logo {
        height: 135px;
    }

    ul {
        font-size: 1.10em;
        gap: 75px;
    }

    footer p {
        font-size: 1.10em;
    }

    .slider-inner {
        padding-top: calc(100% / 1.9);
    }

    #àpropos img {
        height: 250px;
        width: 250px;
    }

    .about-container {
        flex-direction: row;
        gap: 20px;
    }

    .about-text {
        width: 67%;
    }

    .about-text p {
        font-size: 1em;
    }

    h1 {
        font-size: 1.5em;
    }
}


@media screen and (min-width:1020px) {

    header {
        flex-direction: row;
        justify-content: space-between;
    }

    .logo {
        padding-left: 20px;
    }

    ul {
        gap: 50px;
    }

    .slider-inner {
        padding-top: calc(100% / 2.15);
    }

    #àpropos img {
        height: 315px;
        width: 315px;
    }

    h1 {
        font-size: 1.9em;
    }

    .about-text p {
        font-size: 1.1em;
        text-align: cenyer;
    }
}

@media screen and (min-width:1200px) {

    .logo {
        padding-left: 50px;
    }

    nav {
        padding-left: 50px;
        padding-right: 50px;
    }

    .slider-inner {
        padding-top: calc(100% / 2.2);
    }

    #àpropos img {
        height: 400px;
        width: 400px;
    }

    .about-text p {
        line-height: 30px;
    }
}